*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* first banner Section */
.first-banner{
    height: 90vh;
    background-color: #E554731A;
    background-image: url('./flower asset/pngwing\ 10.png');
    background-repeat: no-repeat;
    background-position: bottom right 240px;
    background-size: 400px; 
}
.text{
    padding-left:150px;
    padding-top: 70px;
    width: 50%;
}
.btn{
    padding: 13px 25px;
    border-radius: 6px;
    background-color: #E55473;
    color: white;
    border: none;
}
.text-description{
    margin: 25px 0px;
    color: rgb(107, 105, 105);
    width: 85%;
    line-height: 28px;
    font-weight: lighter;
}

.text-tittle{
    font-size: 50px;
    font-weight: bold;
}